* 						{ box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
h1, h2, h3, h4, h5, h6 	{ margin-bottom:30px; margin-top:30px; }
p 						{ line-height:1.8; }
pre 					{ font-family:'Menlo,Monaco,Consolas,"Courier New",monospace'; padding:20px; background:#EFEFEF; border:none; }
code 					{ font-family:'Menlo,Monaco,Consolas,"Courier New",monospace'; background:#EFEFEF; color:#C7254E; padding:2px 4px; }